certifi==2021.5.30
click==8.0.1
cloudpickle==1.6.0
colorama==0.4.4
cycler==0.10.0
dask==2021.6.2
dask-jobqueue==0.7.2
decorator==4.4.2
descartes==1.1.0
distributed==2021.6.2
fsspec==2021.6.1
HeapDict==1.0.1
imageio==2.9.0
joblib==1.0.1
kiwisolver==1.3.1
locket==0.2.1
matplotlib==3.4.2
mizani==0.7.3
msgpack==1.0.2
networkx==2.5.1
numpy==1.21.0
opencv-contrib-python==4.5.2.54
opencv-python==3.4.14.53
palettable==3.3.0
pandas==1.2.5
partd==1.2.0
patsy==0.5.1
Pillow==8.2.0
plantcv==3.12.1
plotnine==0.8.0
psutil==5.8.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.7.0
six==1.16.0
sortedcontainers==2.4.0
statsmodels==0.12.2
tblib==1.7.0
threadpoolctl==2.1.0
tifffile==2021.6.14
toolz==0.11.1
tornado==6.1
wincertstore==0.2
zict==2.0.0
